<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home | Rolyer&#39;s Blog</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<!-- beging contxt -->
#parse("layout/context.vm")
<!-- end contxt -->
</head>
<body class="home">
	<div id="container">
		<div id="wrapper">
			<!--begin navigation -->
			#parse("layout/navigation.vm")
			<!-- end navigation -->
			<!-- beging PrimaryContent -->
			<div id="primaryContent">
				<div class="content">
					<div class="pageTop">
						<div class="clearer"></div>
					</div>
					<!-- beging Content -->
					<div class="left" style="height:540px">
						<p class="intro-text"></p>
						<p class="intro-text">About this site...</p>
						<p></p>
						<div class="serviceListing">
							<h2 class=" flir-replaced">Welcome</h2>
							<p>
								<img src="$!{address.images}/layout/service-webdesign-website-restyling.gif"
									alt="Welcome" style="float: left; margin-right: 10px;">We
								design and develop websites according to the latest standards
								and demands. We focus on the end-users experience and goal.
							</p>
							<p class="serviceLink">
								<a href="#" title="Welcome">read more about thit Site</a>
							</p>
						</div>
					</div>
					<div class="right">
						#parse("/layout/twitterblock.vm")
					</div>
					<!-- end Content -->
				</div>
			</div>
			<!-- end Primary Content -->
			
			<!--begin footer -->
			#parse("layout/footer.vm")
			<!-- end footer -->
		</div>
	</div>
</body>
</html>
