<!DOCTYPE html>
<html lang="en">
    <head>
        <title>iBlog Manager System</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- styles -->
        <link href="$!{address.css}/bootstrap.css" rel="stylesheet" />
        <script type="text/javascript" src="$!{address.js}/jquery-1.7.2.min.js"></script>
        <link rel="shortcut icon" href="$!{address.images}/ico/favicon.ico" />
    </head>
    <body>
        $screen_content
        <!-- Le javascript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="$!{address.js}/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
