
<div class="well sidebar-nav ">
<ul class="nav nav-list nav-pills nav-stacked">
  <li class="nav-header active"><a href="#"><i class="icon-home"></i>Home</a></li>
  
  <li class="nav-header">Articles</li>
  <li><a href="#"><i class="icon-file"></i>Write a new Article</a></li>
  <li><a href="#"><i class="icon-file"></i>Manage Articles</a></li>
  <li><a href="#"><i class="icon-comment"></i>Manage Comments</a></li>
  <li><a href="#"><i class="icon-barcode"></i>Manage Categories</a></li>
  <li><a href="#"><i class="icon-tags"></i>Manage Tags</a></li>
  
  <li class="nav-header">Image Gallery</li>
  <li><a href="#"><i class="icon-envelope"></i>Upload Images</a></li>
  <li><a href="#"><i class="icon-envelope"></i>Manage Albums</a></li>
  
  <li class="nav-header">General</li>
  <li><a href="#"><i class="icon-envelope"></i>Settings</a></li>
  <li><a href="#"><i class="icon-globe"></i>Links</a></li>
  <li><a href="#"><i class="icon-envelope"></i>Feedback</a></li>
  <li><a href="#"><i class="icon-user"></i>Profile</a></li>
</ul>
</div><!--/sidebar-nav -->