<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml"> 
 
<head > 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="blogcatalog" content="9BC9307652" /> 
<title>Glue Blog - over webdesign</title> 
 
<link rel="stylesheet" href="$!{address.css}/glue-style.css" type="text/css" media="screen" /> 
<link rel="stylesheet" href="$!{address.css}/sociable.css" type="text/css" media="screen" /> 
<link rel="stylesheet" href="$!{address.css}/wp-syntax.css" type="text/css" media="screen" /> 

<link rel="alternate" type="application/rss+xml" title="Glue Blog RSS Feed" href="http://glue.be/blog/feed/" /> 
<link rel="pingback" href="http://glue.be/blog/xmlrpc.php" /> 

<!-- JavaScripts --> 
<script src="$!{address.js}/flir/flir.js" type="text/javascript"></script> 
<script src="$!{address.js}/jquery.js" type="text/javascript"></script> 
<script src="$!{address.js}/jquery.cookie.js" type="text/javascript"></script> 
<link rel='stylesheet' id='sociable-front-css-css'  href='$!{address.css}/plugins/sociable_ver_2.9.1.css' type='text/css' media='' /> 
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://glue.be/blog/xmlrpc.php?rsd" /> 
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://glue.be/blog/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='Glue Blog' href='http://glue.be/blog' /> 
<meta name="generator" content="WordPress 2.9.1" /> 
 
<!-- All in One SEO Pack 1.6.10 by Michael Torbert of Semper Fi Web Design[400,418] --> 
<link rel="canonical" href="http://glue.be/blog/" /> 
<!-- /all in one seo pack --> 
<!-- Meta tags added by Robots Meta: http://yoast.com/wordpress/meta-robots-wordpress-plugin/ --> 
<meta name="robots" content="noodp,noydir" /> 
<!-- fbc_header --> 
 
<link type="text/css" rel="stylesheet" href="$!{address.css}/plugins/fbconnect.css"></link> 
<!--
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script> 
-->
 
<script src="$!{address.js}/plugins/fbconnect.js" type="text/javascript"></script> 
 
<!-- end fbc_header --> 
<link rel="stylesheet" href="$!{address.css}/plugins/wp-syntax.css" type="text/css" media="screen" /> 
 
 
</head> 
<body class="blog"> 
<!--
<script type='text/javascript' src='http://track2.mybloglog.com/js/jsserv.php?mblID=2007062207420675'></script> 
-->
<div id="container"> 
<div id="wrapper"> 
<div id="navigation"> 
		<div class="content"> 
			<div class="logo"> 
			<h1><a title="glue | interactive media" href="http://glue.be/en/"><span>glue | interactive media</span></a></h1> 
			</div> 
			<ol id="sitelinks"> 
						<li class="services"><a href="http://glue.be/en/services/" title="Services"><span>Services</span><em>what we offer you</em></a></li> 
			<li class="portfolio"><a href="http://glue.be/en/portfolio/" title="Portfolio"><span>Portfolio</span> <em>the stuff we did</em></a></li> 
			<li class="clients"><a href="http://glue.be/en/clients/" title="Clients"><span>Clients</span> <em>you can join them</em></a></li> 
			<li class="blog"><a href="http://glue.be/blog/" title="Blog"><span>Blog</span> <em>sorry, Dutch only</em></a></li> 
			<li class="aboutus"><a href="http://glue.be/en/about/" title="About us"><span>About us</span> <em>get to know us</em></a></li> 
			<li class="contactus"><a href="http://glue.be/en/contact/" title="Contact us"><span>Contact us</span> <em>let’s stick together</em></a></li> 
							</ol> 
			<!--
			<div id="language">
				<ol>
					<li><a href="http://glue.be/" title="Nederlands" class="l-nl"><span>Nederlands</span></a></li>
					<li><a href="/en/" title="English" class="l-en"><span>English</span></a></li>
				</ol>
			</div>
			--> 
			<script type="text/javascript"> 
				jQuery(document).ready(function(){
					var now = "en";
					var def_lang = "nl";
 
					//cookie START
					var cookie_name = 'language';
					jQuery.cookie(cookie_name, now, {path: '/', expires: 365});
					//cookie END
 
					jQuery("a.lang").click(function(){
 
						var chosen = $(this).attr("id");
 
						//Controle of je niet op de huidige taalkeuze klikt
 
						if(chosen != now){
 
							var url = location.href.split('/');
 
							//keuze == default  => DELETE taal
							if(chosen == def_lang){
								url.splice(3,1);
							}
							//huidige taal != default  => REPLACE taal
							else if(now != def_lang){
								url[3] = chosen;
							}
							//huidige taal == default  => ADD taal
							else if(now == def_lang){
								url.splice(3, 0, chosen);
							}
 
							location.href = url.join('/');
						}
 
						return false;
					})
				});
			</script> 
		</div> 
		<!-- end content --> 
	</div> 
	<!-- end navigation --> 

$screen_content

<div id="footer"> 
	<div class="firstFooter"> 
 
		<div class="positioner"> 
			
			<div class="box news"> 
				<h2><a href="http://glue.be/en/rss/#fresh" title="Fresh Glue">Fresh Glue: our latest news</a></h2> 
				<ul> 
					<li><a href='http://glue.be/en/freshglue/#cook-truly-green-with-beka' title='Cook truly green with BEKA'>Cook truly green with BEKA</a></li><li><a href='http://glue.be/en/freshglue/#new-website-for-q-int' title='New website for Q-int'>New website for Q-int</a></li><li><a href='http://glue.be/en/freshglue/#launched-flandersbios-new-website' title='Launched FlandersBio's new website'>Launched FlandersBio's new website</a></li><li><a href='http://glue.be/en/freshglue/#fresh-website-for-hoaxland' title='Fresh website for Hoaxland'>Fresh website for Hoaxland</a></li>				</ul> 
				<p class="serviceLink"><a href="http://glue.be/en/freshglue/" title="read more news">read more news</a></p> 
 
			</div> 
				
			<div class="box news"> 
				<h2><a href="http://glue.be/en/rss/#blog" title="Glue Blog">Glue Blog (Sorry, Dutch only)</a></h2> 
		
				<ul> 
					<li><a href='http://feedproxy.google.com/~r/glue/~3/tCysWMzA2cg/' title='Het belang van een goede homepage.'>Het belang van een goede homepage.</a></li><li><a href='http://feedproxy.google.com/~r/glue/~3/t-6Xnjwc5WA/' title='Mag je scrollen op een website? Realiteit én mythe'>Mag je scrollen op een website? Realiteit én mythe</a></li><li><a href='http://feedproxy.google.com/~r/glue/~3/njy6SfPJLBE/' title='Betere zoekresultaten in Google met deze handige tips'>Betere zoekresultaten in Google met deze handige tips</a></li><li><a href='http://feedproxy.google.com/~r/glue/~3/vhRDCku5kA0/' title='Observeer in real time het surfgedrag op je website: Micro Analytics'>Observeer in real time het surfgedrag op je website: Micro Analytics</a></li>				</ul> 
 
				<p class="serviceLink"><a href="http://glue.be/blog" title="read our glue blog">read our glue blog</a></p> 
			</div> 
				
			<div class="box news"> 
				<h2><a href="http://glue.be/en/rss/#currently" title="Currently we&acute;re working on...">Currently we&acute;re working on...</a></h2> 
					 <p>... a new website with the ExpressionEngine CMS for Nicorette.be (McNeil, Johnson &amp; Johnson)</p><div class="imageHolder"><img src="$!{address.images}/uploads/clients/logo-nicorette.gif" alt="" /></div> 
				<p class="serviceLink"><a href="http://glue.be/en/portfolio/" title="view our portfolio">view our portfolio</a></p> 
			</div> 
			
			<div class="clearer"></div> 
		
		</div> 
	</div> 
 
	
	<div class="secondFooter"> 
		<div class="content"> 
		
			<a href="http://glue.be/en/" class="siteBy"><span>Glue | interactive media</span></a> 
			<p>&copy; 2008  -  All rights reserved.</p> 
			<div class="footerRight"> 
				<div class="validators"> 
					<a href="http://validator.w3.org/check?uri=referer" class="valhtml"><span>validate html</span></a> 
 
					<a href="http://jigsaw.w3.org/css-validator/check?uri=referer" class="valcss"><span>validate css</span></a> 
				</div> 
				<p class="ee">powered by expression engine</p> 
				<a class="feed" href="http://glue.be/en/rss/">subscribe to our feeds</a> 
			</div> 
		</div> 
	</div> 
	
 
</div>	
	</div> 
 <!--
<script type="text/javascript"> 
	$(document).ready(function(){
		if($.browser.msie && $.browser.version.substr(0,1) == "6"){
			//niets doen
		}else{
            FLIR.init({ path: '/js/flir/'});
		    FLIR.auto([ 'h1', 'h2', 'h3', 'h4' ]);
		}
	});
</script> 
-->
<!--
<script type='text/javascript' src='http://track2.mybloglog.com/js/jsserv.php?mblID=2007062207420675'></script> 
-->
<!--
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-301153-13");
pageTracker._trackPageview();
} catch(err) {}</script> 
<script type="text/javascript"> 
FBConnect.init('e6e8a4551870de33a925628904bda5a2', 'http://glue.be/blog/wp-content/plugins/wp-facebookconnect/', '80942699481', 'http://glue.be/blog', 0, FBConnect.appconfig_reload);
 
</script>
-->
</body> 
</html>