<div id="footer">
    <div class="secondFooter">
        <div class="content">
            <a href="$!{address.server}/home/index.htm" class="siteBy">
                <span>Glue | interactive media</span>
            </a>
            <p>&copy; 2008  -  All rights reserved.</p>
            <div class="footerRight">
                <div class="validators">
                    <a href="http://validator.w3.org/check?uri=referer" class="valhtml">
                        <span>validate html</span>
                    </a>
                    <a href="http://jigsaw.w3.org/css-validator/check?uri=referer" class="valcss">
                        <span>validate css</span>
                    </a>
                </div>
                <p class="ee">powered by expression engine</p>
                <a class="feed" href="$!{address.server}/rss">subscribe to our feeds</a>
            </div>
        </div>
    </div>
</div>
