<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head >
    <title>$!{pageTitle}</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="Rolyer Blog V0.0.1" />
		<!-- Favicon --> 
		<link rel="shortcut icon" href="$!{address.images}/favicon.ico" />
    
    <link rel='index' title='Glue Blog' href='http://glue.be/blog' />
    <!-- All in One SEO Pack 1.6.10 by Michael Torbert of Semper Fi Web Design[400,418] -->
    <link rel="canonical" href="http://www.rolyer.com/blog/" />
    
    <!-- Css --> 
    <link rel="stylesheet" href="$!{address.css}/glue-style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="$!{address.css}/sociable.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="$!{address.css}/wp-syntax.css" type="text/css" media="screen" />
    
    <link rel='stylesheet' id='sociable-front-css-css'  href='$!{address.css}/plugins/sociable_ver_2.9.1.css' type='text/css' media='' />
    <link rel="stylesheet" href="$!{address.css}/plugins/wp-syntax.css" type="text/css" media="screen" />
    <!-- fbc_header -->
    <link type="text/css" rel="stylesheet" href="$!{address.css}/plugins/fbconnect.css"></link>
    <script src="$!{address.js}/plugins/fbconnect.js" type="text/javascript"></script>
    <!-- end fbc_header -->

	<!-- JavaScripts --> 
    <script src="$!{address.js}/flir/flir.js" type="text/javascript"></script>
    <script src="$!{address.js}/jquery.js" type="text/javascript"></script>
    <script src="$!{address.js}/jquery.cookie.js" type="text/javascript"></script>

</head>
<body class="$!{whereiam}">

<div id="container">
	
<div id="wrapper">
	<!-- start navigation -->
<div id="navigation">
		<div class="content">
			<div class="logo">
			<h1><a title="Rolyer&acute; Blog" href="$!{address.server}/blog/index.htm" accesskey="1"><span>Rolyer&acute; Blog</span></a></h1>
			</div>
            <ol id="sitelinks">
				<!--
            	<li class="services"><a href="http://glue.be/en/services/" title="Services"><span>Services</span><em>what we offer you</em></a></li>
            	<li class="portfolio"><a href="http://glue.be/en/portfolio/" title="Portfolio"><span>Portfolio</span> <em>the stuff we did</em></a></li>
            	<li class="clients"><a href="http://glue.be/en/clients/" title="Clients"><span>Clients</span> <em>you can join them</em></a></li>
            	-->
				<li class="home"><a href="$!{address.server}/home/index.htm" title="Home"><span>首&nbsp;&nbsp;页</span> <em>Home</em></a></li>
				<li class="blog"><a href="$!{address.server}/blog/index.htm" title="Blog"><span>博&nbsp;&nbsp;客</span> <em>Rolyer&acute; Blog</em></a></li>
            	<li class="aboutus"><a href="$!{address.server}/about/index.htm" title="About me"><span>关&nbsp;于&nbsp;我</span> <em>About me</em></a></li>
            	<li class="contactus"><a href="$!{address.server}/contact/index.htm" title="Contact me"><span>联&nbsp;系&nbsp;我</span> <em>Contact me</em></a></li>
            </ol>
			<!--
			<div id="language">
				<ol>
					<li><a href="http://glue.be/" title="Nederlands" class="l-nl"><span>Nederlands</span></a></li>
					<li><a href="/en/" title="English" class="l-en"><span>English</span></a></li>
				</ol>
			</div>
			
			
			<script type="text/javascript">
				jQuery(document).ready(function(){
					var now = "en";
					var def_lang = "nl";
 
					//cookie START
					var cookie_name = 'language';
					jQuery.cookie(cookie_name, now, {path: '/', expires: 365});
					//cookie END
 
					jQuery("a.lang").click(function(){
						var chosen = $(this).attr("id");
						//Controle of je niet op de huidige taalkeuze klikt
						if(chosen != now){
							var url = location.href.split('/');
							//keuze == default  => DELETE taal
							if(chosen == def_lang){
								url.splice(3,1);
							}
							//huidige taal != default  => REPLACE taal
							else if(now != def_lang){
								url[3] = chosen;
							}
							//huidige taal == default  => ADD taal
							else if(now == def_lang){
								url.splice(3, 0, chosen);
							}
 
							location.href = url.join('/');
						}
 
						return false;
					})
				});
			</script>
			-->
		</div>
		<!-- end content -->
	</div>
	<!-- end navigation -->
 
<!-- start content -->
$screen_content
<!-- end content -->
</div> 
 
<!-- start footer -->
<div id="footer"> 
	<div class="firstFooter">
 
		<div class="positioner">
			
			<div class="box news">
				<h2><a href="$!{address.server}/rss/#fresh" title="Fresh Rolyer: 我的最新信息">Fresh Rolyer: 我的最新信息</a></h2>
				<ul>
					<li><a href='http://glue.be/en/freshglue/#cook-truly-green-with-beka' title='Cook truly green with BEKA'>Cook truly green with BEKA</a></li>
					<li><a href='http://glue.be/en/freshglue/#new-website-for-q-int' title='New website for Q-int'>New website for Q-int</a></li>
					<li><a href='http://glue.be/en/freshglue/#launched-flandersbios-new-website' title='Launched FlandersBio's new website'>Launched FlandersBio's new website</a></li>
					<li><a href='http://glue.be/en/freshglue/#fresh-website-for-hoaxland' title='Fresh website for Hoaxland'>Fresh website for Hoaxland</a></li>
				</ul>
				<p class="serviceLink"><a href="$!{address.server}/freshnews/" title="read more news">read more news</a></p>
			</div> 
				
			<div class="box news">
				<h2><a href="$!{address.server}/rss/#blog" title="Rolyer&acute; Blog 博客动态">Rolyer&acute; Blog 博客动态</a></h2>

				<ul>
					<li><a href='http://feedproxy.google.com/~r/glue/~3/tCysWMzA2cg/' title='Het belang van een goede homepage.'>Het belang van een goede homepage.</a></li>
					<li><a href='http://feedproxy.google.com/~r/glue/~3/t-6Xnjwc5WA/' title='Mag je scrollen op een website? Realiteit én mythe'>Mag je scrollen op een website? Realiteit én mythe</a></li>
					<li><a href='http://feedproxy.google.com/~r/glue/~3/njy6SfPJLBE/' title='Betere zoekresultaten in Google met deze handige tips'>Betere zoekresultaten in Google met deze handige tips</a></li>
					<li><a href='http://feedproxy.google.com/~r/glue/~3/vhRDCku5kA0/' title='Observeer in real time het surfgedrag op je website: Micro Analytics'>Observeer in real time het surfgedrag op je website: Micro Analytics</a></li>
				</ul>
 
				<p class="serviceLink"><a href="$!{address.server}/blog/index.htm" title="read my blog">read my blog</a></p>
			</div>
				
			<div class="box news">
				<h2><a href="$!{address.server}/rss/#currently" title="I&acute;m working on...&nbsp;|&nbsp;我正在忙于...">I&acute;m working on...&nbsp;|&nbsp;我正在忙于...</a></h2>
					 <p>... a new website with the ExpressionEngine CMS for Nicorette.be (McNeil, Johnson &amp; Johnson)</p>
					 <div class="imageHolder"><img src="$!{address.images}/uploads/clients/logo-nicorette.gif" alt="" /></div> 
				<p class="serviceLink"><a href="$!{address.server}/portfolio.htm" title="view my portfolio">view my portfolio</a></p>
			</div>
			
			<div class="clearer"></div>
		
		</div>
	</div>
	
	<div class="secondFooter">
		<div class="content">
		
			<a href="$!{address.server}/blog/index.htm" class="siteBy"><span>Rolery&acute;s Blog</span></a>
			<p>&copy; 2010  -  All rights reserved.</p>
			<div class="footerRight">
				<div class="validators">
					<a href="http://validator.w3.org/check?uri=referer" class="valhtml"><span>validate html</span></a>
					<a href="http://jigsaw.w3.org/css-validator/check?uri=referer" class="valcss"><span>validate css</span></a>
				</div>
				<p class="ee">powered by rolyer</p>
				<a class="feed" href="$!{address.server}/rss/">subscribe to my feeds</a>
			</div>
		</div>
	</div>
</div>
<!-- end footer  -->
	</div>
	
<!--
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-301153-13");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript"> 
FBConnect.init('e6e8a4551870de33a925628904bda5a2', 'http://glue.be/blog/wp-content/plugins/wp-facebookconnect/', '80942699481', 'http://glue.be/blog', 0, FBConnect.appconfig_reload);
 
</script>
-->
</body> 
</html>