<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Glue Blog - over webdesign</title>
        <link rel="stylesheet" href="$!{address.css}/glue-style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="$!{address.css}/sociable.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="$!{address.css}/wp-syntax.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="$!{address.css}/plugins/wp-syntax.css" type="text/css" media="screen" />
        <!-- fbc_header --> 
        <link type="text/css" rel="stylesheet" href="$!{address.css}/plugins/fbconnect.css"></link>
        <link rel='stylesheet' id='sociable-front-css-css'  href='$!{address.css}/plugins/sociable_ver_2.9.1.css' type='text/css' media='' />
        <!-- JavaScripts --> 
        <script src="$!{address.js}/flir/flir.js" type="text/javascript"></script>
        <script src="$!{address.js}/jquery.js" type="text/javascript"></script>
        <script src="$!{address.js}/jquery.cookie.js" type="text/javascript"></script>
        <script src="$!{address.js}/plugins/fbconnect.js" type="text/javascript"></script>
        <!-- end fbc_header --> 
    </head>
    <body class="blog">
        <div id="container">
            <div id="wrapper">
                <!--begin navigation -->
                #parse("layout/navigation.vm")
                <!-- end navigation -->
				
				<!-- beging PrimaryContent -->
                <div id="primaryContent">
                    <div class="content">
                        <div class="pageTop">
                            <div class="pageTitle">
                                <h1 class=" flir-replaced">Blog</h1>
                            </div>
                            <div class="breadCrumbs">
                                You are here: <a href="http://glue.be/en/" title="Home">Home</a>
                                »&nbsp;<span class="active">Blog</span>
                            </div>
                            <div class="clearer"></div>
                        </div>
						<!-- beging Content -->	
						$screen_content
						<!-- end Content -->
                    </div>
                </div>
                <!-- end Primary Content -->
				
                <!--begin footer -->
                #parse("layout/footer.vm")
                <!-- end footer --> 
            </div>
        </div>
    </body>
</html>
