<div class="left">
    <div class="post" id="post-1695">
        <h2>
            <a href="http://glue.be/blog/2010/05/het-belang-van-een-goede-homepage/" rel="bookmark" title="Permanent Link to Het belang van een goede homepage.">Het belang van een goede homepage.</a>
        </h2>
        <p class="postInfo">Gepost op 3 May 2010 door Koen</p>
        <div class="entry">
            <p>Samen met onze klanten overleggen we bij aanvang van een project wat er juist op de homepage van hun website zou kunnen staan. Vroeger kwam elke bezoeker op de website terecht via de homepage. Vandaag is dat niet meer het geval.</p>
            <h3>Is de homepage nog belangrijk?</h3>
            <p>Alsmaar meer bezoekers komen op je website terecht via zoekmachines. Deze zoekmachines proberen bezoekers meteen door te sturen naar de pagina die voor hun zoekactie relevant is.<br />
                <a href="http://glue.be/blog/2010/05/het-belang-van-een-goede-homepage/#more-1695" class="more-link">Lees het volledig artikel &raquo;</a>
            </p>
        </div>
        <div class="blogTags">Tags: <a href="http://glue.be/blog/tag/homepage/" rel="tag">homepage</a>
            , <a href="http://glue.be/blog/tag/usability/" rel="tag">Usability</a>
            , <a href="http://glue.be/blog/tag/webdesign/" rel="tag">Webdesign</a>
        </div>
        <div class="postFooter">
            <div class="sociable">
                <div class="sociable_tagline">
                    <strong>Share and Enjoy:</strong>
                </div>
                <ul>
                    <li class="sociablefirst">
                        <a rel="nofollow"  href="http://twitter.com/home?status=Het%20belang%20van%20een%20goede%20homepage.%20-%20http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F" title="Twitter">
                            <img src="$!{address.images}/services-sprite.gif" title="Twitter" alt="Twitter" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-343px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://www.facebook.com/share.php?u=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;t=Het%20belang%20van%20een%20goede%20homepage." title="Facebook">
                            <img src="$!{address.images}/services-sprite.gif" title="Facebook" alt="Facebook" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-343px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://delicious.com/post?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;notes=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="del.icio.us">
                            <img src="$!{address.images}/services-sprite.gif" title="del.icio.us" alt="del.icio.us" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-199px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://nujij.nl/jij.lynkx?t=Het%20belang%20van%20een%20goede%20homepage.&amp;u=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;b=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="NuJIJ">
                            <img src="$!{address.images}/services-sprite.gif" title="NuJIJ" alt="NuJIJ" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-253px -37px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;annotation=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="Google Bookmarks">
                            <img src="$!{address.images}/services-sprite.gif" title="Google Bookmarks" alt="Google Bookmarks" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-91px -19px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage." title="StumbleUpon">
                            <img src="$!{address.images}/services-sprite.gif" title="StumbleUpon" alt="StumbleUpon" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-217px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://technorati.com/faves?add=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F" title="Technorati">
                            <img src="$!{address.images}/services-sprite.gif" title="Technorati" alt="Technorati" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-271px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;bodytext=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="Digg">
                            <img src="$!{address.images}/services-sprite.gif" title="Digg" alt="Digg" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-235px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://reddit.com/submit?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage." title="Reddit">
                            <img src="$!{address.images}/services-sprite.gif" title="Reddit" alt="Reddit" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-55px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li class="sociablelast">
                        <a rel="nofollow"  href="http://www.ekudos.nl/artikel/nieuw?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;desc=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="eKudos">
                            <img src="$!{address.images}/services-sprite.gif" title="eKudos" alt="eKudos" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-307px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="commentIndic">
                <a href="http://glue.be/blog/2010/05/het-belang-van-een-goede-homepage/#respond" title="Comment on Het belang van een goede homepage.">Geen commentaar &#187;</a>
            </div>
            <div class="clearer" ></div>
        </div>
    </div>
    <div class="post" id="post-1654">
        <h2>
            <a href="http://glue.be/blog/2010/04/mag-je-scrollen-op-een-website-realiteit-en-mythe/" rel="bookmark" title="Permanent Link to Mag je scrollen op een website? Realiteit én mythe">Mag je scrollen op een website? Realiteit én mythe</a>
        </h2>
        <p class="postInfo">Gepost op 19 April 2010 door Anthony</p>
        <div class="entry">
            <p>Regelmatig vragen klanten ons om een website te bouwen waarbij je niet moet scrollen. Waarom niet scrollen? Omdat de belangrijkste info in één oogopslag zichtbaar moet zijn, is dan het vaak gehoorde argument.<br />
                Al <a href="http://www.useit.com/alertbox/9712a.html" target="_blank">sinds 1994</a>
                discussiëren webdesigners en usability architects over de zin en onzin van de page fold*, en slagen ze er maar moeilijk in om tot een conclusie te komen. </p>
                <p>Scrollen mensen nu wel of niet?  <a href="http://glue.be/blog/2010/04/mag-je-scrollen-op-een-website-realiteit-en-mythe/#more-1654" class="more-link">Lees het volledig artikel &raquo;</a>
                </p>
        </div>
        <div class="postFooter">
            <div class="sociable">
                <div class="sociable_tagline">
                    <strong>Share and Enjoy:</strong>
                </div>
                <ul>
                    <li class="sociablefirst">
                        <a rel="nofollow"  href="http://twitter.com/home?status=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe%20-%20http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F" title="Twitter">
                            <img src="$!{address.images}/services-sprite.gif" title="Twitter" alt="Twitter" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-343px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://www.facebook.com/share.php?u=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;t=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe" title="Facebook">
                            <img src="$!{address.images}/services-sprite.gif" title="Facebook" alt="Facebook" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-343px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://delicious.com/post?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;title=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe&amp;notes=Regelmatig%20vragen%20klanten%20ons%20om%20een%20website%20te%20bouwen%20waarbij%20je%20niet%20moet%20scrollen.%20Waarom%20niet%20scrollen%3F%20Omdat%20de%20belangrijkste%20info%20in%20%C3%A9%C3%A9n%20oogopslag%20zichtbaar%20moet%20zijn%2C%20is%20dan%20het%20vaak%20gehoorde%20argument.%0D%0AAl%20sinds%201994%20discussi%C3%ABren%20webdesigne" title="del.icio.us">
                            <img src="$!{address.images}/services-sprite.gif" title="del.icio.us" alt="del.icio.us" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-199px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://nujij.nl/jij.lynkx?t=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe&amp;u=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;b=Regelmatig%20vragen%20klanten%20ons%20om%20een%20website%20te%20bouwen%20waarbij%20je%20niet%20moet%20scrollen.%20Waarom%20niet%20scrollen%3F%20Omdat%20de%20belangrijkste%20info%20in%20%C3%A9%C3%A9n%20oogopslag%20zichtbaar%20moet%20zijn%2C%20is%20dan%20het%20vaak%20gehoorde%20argument.%0D%0AAl%20sinds%201994%20discussi%C3%ABren%20webdesigne" title="NuJIJ">
                            <img src="$!{address.images}/services-sprite.gif" title="NuJIJ" alt="NuJIJ" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-253px -37px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;title=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe&amp;annotation=Regelmatig%20vragen%20klanten%20ons%20om%20een%20website%20te%20bouwen%20waarbij%20je%20niet%20moet%20scrollen.%20Waarom%20niet%20scrollen%3F%20Omdat%20de%20belangrijkste%20info%20in%20%C3%A9%C3%A9n%20oogopslag%20zichtbaar%20moet%20zijn%2C%20is%20dan%20het%20vaak%20gehoorde%20argument.%0D%0AAl%20sinds%201994%20discussi%C3%ABren%20webdesigne" title="Google Bookmarks">
                            <img src="$!{address.images}/services-sprite.gif" title="Google Bookmarks" alt="Google Bookmarks" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-91px -19px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;title=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe" title="StumbleUpon">
                            <img src="$!{address.images}/services-sprite.gif" title="StumbleUpon" alt="StumbleUpon" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-217px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://technorati.com/faves?add=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F" title="Technorati">
                            <img src="$!{address.images}/services-sprite.gif" title="Technorati" alt="Technorati" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-271px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;title=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe&amp;bodytext=Regelmatig%20vragen%20klanten%20ons%20om%20een%20website%20te%20bouwen%20waarbij%20je%20niet%20moet%20scrollen.%20Waarom%20niet%20scrollen%3F%20Omdat%20de%20belangrijkste%20info%20in%20%C3%A9%C3%A9n%20oogopslag%20zichtbaar%20moet%20zijn%2C%20is%20dan%20het%20vaak%20gehoorde%20argument.%0D%0AAl%20sinds%201994%20discussi%C3%ABren%20webdesigne" title="Digg">
                            <img src="$!{address.images}/services-sprite.gif" title="Digg" alt="Digg" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-235px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow"  href="http://reddit.com/submit?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;title=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe" title="Reddit">
                            <img src="$!{address.images}/services-sprite.gif" title="Reddit" alt="Reddit" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-55px -55px" class="sociable-hovers" />
                        </a>
                    </li>
                    <li class="sociablelast">
                        <a rel="nofollow"  href="http://www.ekudos.nl/artikel/nieuw?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F04%2Fmag-je-scrollen-op-een-website-realiteit-en-mythe%2F&amp;title=Mag%20je%20scrollen%20op%20een%20website%3F%20Realiteit%20%C3%A9n%20mythe&amp;desc=Regelmatig%20vragen%20klanten%20ons%20om%20een%20website%20te%20bouwen%20waarbij%20je%20niet%20moet%20scrollen.%20Waarom%20niet%20scrollen%3F%20Omdat%20de%20belangrijkste%20info%20in%20%C3%A9%C3%A9n%20oogopslag%20zichtbaar%20moet%20zijn%2C%20is%20dan%20het%20vaak%20gehoorde%20argument.%0D%0AAl%20sinds%201994%20discussi%C3%ABren%20webdesigne" title="eKudos">
                            <img src="$!{address.images}/services-sprite.gif" title="eKudos" alt="eKudos" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-307px -1px" class="sociable-hovers" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="commentIndic">
                <a href="http://glue.be/blog/2010/04/mag-je-scrollen-op-een-website-realiteit-en-mythe/#comments" title="Comment on Mag je scrollen op een website? Realiteit én mythe">3 commentaren &#187;</a>
            </div>
            <div class="clearer" ></div>
        </div>
    </div>
    #foreach($list in $results)
        <div class="post" id="post-$!{list.article.id}">
            <h2>
                <a href="http://glue.be/blog/2010/05/het-belang-van-een-goede-homepage/" rel="bookmark" title="Permanent Link to Het belang van een goede homepage.">$!{list.article.title}</a>
            </h2>
            <p class="postInfo">发布时间：$!date.format('yyyy-MM-dd HH:mm:ss ',$!{list.article.gmtModified}) 类别:$!{list.labels.name}</p>
            <div class="entry">
                #set($content = $!{list.article.content})
                #set($contentShort = $content)
                #if($contentShort.length()>$!{list.article.showMaxLength})
                    #set($contentShort = $contentShort.substring(0,$!{list.article.showMaxLength})+"...")
                #end
                $contentShort
            </div>
            <div class="blogTags">Tags: <a href="http://glue.be/blog/tag/homepage/" rel="tag">homepage</a>
                , <a href="http://glue.be/blog/tag/usability/" rel="tag">Usability</a>
                , <a href="http://glue.be/blog/tag/webdesign/" rel="tag">Webdesign</a>
            </div>
            <div class="postFooter">
                <div class="sociable">
                    <div class="sociable_tagline">
                        <strong>Share and Enjoy:</strong>
                    </div>
                    <ul>
                        <li class="sociablefirst">
                            <a rel="nofollow"  href="http://twitter.com/home?status=Het%20belang%20van%20een%20goede%20homepage.%20-%20http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F" title="Twitter">
                                <img src="$!{address.images}/services-sprite.gif" title="Twitter" alt="Twitter" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-343px -55px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://www.facebook.com/share.php?u=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;t=Het%20belang%20van%20een%20goede%20homepage." title="Facebook">
                                <img src="$!{address.images}/services-sprite.gif" title="Facebook" alt="Facebook" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-343px -1px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://delicious.com/post?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;notes=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="del.icio.us">
                                <img src="$!{address.images}/services-sprite.gif" title="del.icio.us" alt="del.icio.us" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-199px -1px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://nujij.nl/jij.lynkx?t=Het%20belang%20van%20een%20goede%20homepage.&amp;u=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;b=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="NuJIJ">
                                <img src="$!{address.images}/services-sprite.gif" title="NuJIJ" alt="NuJIJ" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-253px -37px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;annotation=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="Google Bookmarks">
                                <img src="$!{address.images}/services-sprite.gif" title="Google Bookmarks" alt="Google Bookmarks" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-91px -19px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage." title="StumbleUpon">
                                <img src="$!{address.images}/services-sprite.gif" title="StumbleUpon" alt="StumbleUpon" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-217px -55px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://technorati.com/faves?add=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F" title="Technorati">
                                <img src="$!{address.images}/services-sprite.gif" title="Technorati" alt="Technorati" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-271px -55px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;bodytext=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="Digg">
                                <img src="$!{address.images}/services-sprite.gif" title="Digg" alt="Digg" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-235px -1px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://reddit.com/submit?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage." title="Reddit">
                                <img src="$!{address.images}/services-sprite.gif" title="Reddit" alt="Reddit" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-55px -55px" class="sociable-hovers" />
                            </a>
                        </li>
                        <li class="sociablelast">
                            <a rel="nofollow"  href="http://www.ekudos.nl/artikel/nieuw?url=http%3A%2F%2Fglue.be%2Fblog%2F2010%2F05%2Fhet-belang-van-een-goede-homepage%2F&amp;title=Het%20belang%20van%20een%20goede%20homepage.&amp;desc=Samen%20met%20onze%20klanten%20overleggen%20we%20bij%20aanvang%20van%20een%20project%20wat%20er%20juist%20op%20de%20homepage%20van%20hun%20website%20zou%20kunnen%20staan.%20Vroeger%20kwam%20elke%20bezoeker%20op%20de%20website%20terecht%20via%20de%20homepage.%20Vandaag%20is%20dat%20niet%20meer%20het%20geval.%0D%0AIs%20de%20homepage%20nog%20b" title="eKudos">
                                <img src="$!{address.images}/services-sprite.gif" title="eKudos" alt="eKudos" style="width: 16px; height: 16px; background: transparent url(images/services-sprite.png) no-repeat; background-position:-307px -1px" class="sociable-hovers" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="commentIndic">
                    <a href="http://glue.be/blog/2010/05/het-belang-van-een-goede-homepage/#respond" title="Comment on Het belang van een goede homepage.">评论($!{list.article.commentsNumber})&nbsp;&#187; </a>
                </div>
                <div class="clearer" ></div>
            </div>
        </div>
    #end
    <p>Blue Style
        <div class="manu">
            <span class="disabled"> <  Prev</span>
                <span class="current">1</span>
                <a href="#?page=2">2</a>
                <a href="#?page=3">3</a>
                <a href="#?page=4">4</a>
                <a href="#?page=5">5</a>
                <a href="#?page=6">6</a>
                <a href="#?page=7">7</a>
                ...
                <a href="#?page=199">199</a>
                <a href="#?page=200">200</a>
                <a href="#?page=2">Next  > </a>
                </div>
            </p>
            <div class="pagination">
                <div class="prev">
                    #pageBar2($totalPage $currentPage $suffixUrl)
                    <a href="http://glue.be/blog/page/2/" >
                        <img alt="Vorige" src="$!{address.images}/layout/but-prev-page-nl.gif"/>
                    </a>
                </div>
                <div class="next"></div>
            </div>
        </div>
        <div class="right">
            <div class="rightBlock">
                <img usemap="#Map" alt="" src="$!{address.images}/layout/hdr-blog.jpg"/>
                <map id="Map" name="Map">
                    <area alt="schrijf u in op onze RSS feed" href="http://glue.be/en/rss/" coords="37,94,280,136" shape="rect"/>
                </map>
            </div>
            <div class="rightBlock twitterblock">
                <h4>Glue op Twitter</h4>
                <img src="$!{address.images}/layout/icn-twitter.gif" alt="" style="float:left"/>
                <p> way past office hours, but hey, you can't hear us complaining :) </p>
                    <a style="margin-left: 69px; display:block" title="Volg ons op Twitter" href="http://twitter.com/gluewebdesign">
                        <img alt="Volg ons op Twitter" src="$!{address.images}/layout/but-twitter-nl.gif"/>
                    </a>
</div>
<div class="rightBlock">
    <h4>Glue op Facebook</h4>
    <!--
    <iframe src="http://www.facebook.com/plugins/likebox.php?id=44445434577&amp;stream=false&amp;header=false&amp;width=300&amp;height=270&amp;connections=10&amp;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:270px;" allowtransparency="true"></iframe>
    -->
</div>
<div id="tag_cloud-2" class="widget widget_tag_cloud rightBlock">
    <h3 class="widgettitle">Tags</h3>
    <div>
        #foreach($ll in $labelsList)
            <a href='http://glue.be/blog/tag/$!{ll.name}/$!{cl.id}' class='tag-link-40' title='2 topics' style='font-size: 11.2777777777777777pt;'>$!{ll.name}</a>
        #end
    </div>
</div>
<div id="archives-2" class="widget widget_archive rightBlock">
    <h3 class="widgettitle">Archief</h3>
    <ul>
        <li>
            <a href='http://glue.be/blog/2010/05/' title='May 2010'>May 2010</a>
        </li>
        <li>
            <a href='http://glue.be/blog/2009/12/' title='December 2009'>December 2009</a>
        </li>
        <li>
            <a href='http://glue.be/blog/2008/12/' title='December 2008'>December 2008</a>
        </li>
        <li>
            <a href='http://glue.be/blog/2007/12/' title='December 2007'>December 2007</a>
        </li>
    </ul>
</div>
<div id="categories-333156211" class="widget widget_categories rightBlock">
    <h3 class="widgettitle">Categories</h3>
    <ul>
        #foreach($cl in $categoryList)
            <li class="cat-item cat-item-3">
                <a href="http://glue.be/blog/category/$!{cl.name}/$!{cl.id}" title="View all posts filed under $!{cl.name}">$!{cl.name}</a>
            </li>
        #end
    </ul>
</div>
</div>
