<div id="primaryContent">
			<div class="content">
				<div class="pageTop">
					<div class="pageTitle">
						<h1 class=" flir-replaced">A word from our customers</h1>
					</div>
					<div class="breadCrumbs">
						You are here: <a href="http://glue.be/en/" title="Home">Home</a>
						»&nbsp;<a href="http://glue.be/en/about/" title="About us">About us</a>
						»&nbsp;<span class="active">A word from our customers</span>
					</div>
					<div class="clearer"></div>
				</div>
				
				<div class="left">
					
					
						<div class="testimonial">
							<p>Working with the Glue team was a wonderful experience. They came up with several ideas for our website we had never thought about. They are flexible, pro-active and very dedicated to get the job done. The co-operation between Polé Polé and Glue was a perfect match. No doubt about it the Glue team will be treated as VIP's on our upcoming events.</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">Polé Polé crew</p>
						</div>

					
						<div class="testimonial">
							<p>I am glad to see our business together continues to grow , you do good work .....</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">Peter Robson, Training Manager, Komatsu US</p>
						</div>

					
						<div class="testimonial">
							<p>As a gallery, it is essential for us that our online presence is a perfect extension of our exhibition space.You really took the effort of understanding our business thoroughly. The translation of your understanding to a very efficient website has made you more than just a supplier. We consider Glue as a genuine partner.</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">Jan De Clercq, Art Gallerist, Meessen-De Clercq</p>
						</div>

					
						<div class="testimonial">
							<p>This is undoubtedly the best module of e-learning I have ever checked. Very good interface, good graphics and good speaker, easy to understand. Simply fantastic!</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">McKall R. B., Respiratory Field Training Manager, Covidien</p>
						</div>

					
						<div class="testimonial">
							<p>I would like to thank the entire Glue team for the excellent support and communication. It just proves that such projects can be achieved to a high standard and on target even though we are in different countries. Hopefully a new project will come along soon and we can start working together again.</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">P. Vince, Public Relations Manager, Komatsu UK</p>
						</div>

					
						<div class="testimonial">
							<p>Thank you for doing a terrific job. Working together with you guys is great!</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">Joke Comijn, Communication Officer, VIB</p>
						</div>

					
						<div class="testimonial">
							<p>Thank you for doing a terrific job!!!!</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">Marc Billiouw, ICT-Coordinator, BEKA Cookware</p>
						</div>

					
						<div class="testimonial">
							<p>Excellent! You have really advanced on the PC-8 simulator. I think you have created an excellent teaching tool.</p>
							<p class="client"><img src="$!{address.images}/layout/icn-comment.gif" alt="">Chris Boland, Service Department, Komatsu UK</p>
						</div>

					
					<div class="clear"></div>
				</div>
			
				<div class="right">
					<div class="rightBlock">
	<h3 class=" flir-replaced">Get to know us</h3>
	<ul>
		<!-- <li><a href="http://glue.be/en/about/our-methodology/" title="Our methodology">Our methodology</a></li> -->
		<li class="active"><a href="http://glue.be/en/about/customer-testimonials/" title="A word from our customers">A word from our customers</a></li>
		<li><a href="http://glue.be/en/about/why-work-with-us/" title="Why work with us?">Why work with us?</a></li>
		<li><a href="http://glue.be/en/freshglue/" title="Fresh Glue: our latest news">Fresh Glue: our latest news</a></li>
	</ul>
</div>
					
						

<div class="rightBlock">
	<h4 class=" flir-replaced">The stuff we did</h4>
	<p><img src="$!{address.images}/layout/icn-portfolio.gif" alt="" style="float:left">Take a look at a selection of our projects in our portfolio section. <a href="http://glue.be/en/portfolio/" title="to the portfolio" style="margin-left:69px"><img src="$!{address.images}/layout/but-portfolio-en.gif" title="to the portfolio" alt="to the portfolio"></a></p>
</div>

<div class="rightBlock">
	<h4 class=" flir-replaced">Want to work for us?</h4>
	<p><img src="$!{address.images}/layout/icn-job.gif" alt="" style="float:left">We are always on the lookout for talented and enthusiastic people. Let us know you exist… <a href="http://glue.be/en/contact/#job" title="to the contact form" style="margin-left:69px"><img src="$!{address.images}/layout/but-job-en.gif" title="to the contact form" alt="to the contact form"></a></p>
</div>

					
				</div>
				
			</div>
		</div>