<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>About me | Rolyer&#39;s Blog</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<!-- beging contxt -->
#parse("layout/context.vm")
<!-- end contxt -->
</head>
<body class="about">
	<div id="container">
		<div id="wrapper">
			<!--begin navigation -->
			#parse("layout/navigation.vm")
			<!-- end navigation -->
			<!-- beging PrimaryContent -->
			<div id="primaryContent">
				<div class="content">
					<div class="pageTop">
						<div class="pageTitle">
							<h1 class=" flir-replaced">About me</h1>
						</div>
						<div class="breadCrumbs">
							You are here: <a href="$!{address.server}/home/index.htm" title="Home">Home</a> »&nbsp;<span class="active">About me</span>
						</div>
						<div class="clearer"></div>
					</div>
					<!-- beging Content -->
					<div class="left" style="height:500px">
						<p>$!{aboutme}</p>
					</div>
					<div class="right">
						#parse("/layout/twitterblock.vm")
					</div>
					<!-- end Content -->
				</div>
			</div>
			<!-- end Primary Content -->
			
			<!--begin footer -->
			#parse("layout/footer.vm")
			<!-- end footer -->
		</div>
	</div>
</body>
</html>
